*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
  background-color: #f0f0f0;
  height: 100vh;
  font-family: "Lora", Georgia, "Times New Roman", Times, serif;
}

#root {
  height: 100%;
}

.container {
  max-width: 80rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  max-width: 30rem;
  text-align: center;
  background-color: #ffffff;
  padding: 2rem;
  font-size: 1.6rem;
}
.card {
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kanji,
.kana {
  font-family: "Hiragino Mincho Pro", "Yu Mincho", "Source Han Sans Japanese",
    "NotoSansCJK", "Meiryo", serif;
}

.btn-container {
  margin-top: 1.5rem;
}
